<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="navbar-inner mt-5">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'dashboard' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link {% if 'files' in segment %} active {% endif %}" href="{% url 'files' %}">
              <i class="ni ni-cloud-download-95"></i>
              <span class="nav-link-text">Upload Files</span>
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link {% if 'view_files_list' in segment %} active {% endif %}" href="{% url 'view_files_list' %}">
              <i class="ni ni-active-40" style="color: blue;"></i>
              <span class="nav-link-text">View Files</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>