{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Files</h6>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="#" class="btn btn-sm btn-neutral">New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <form method="POST" action="{% url 'files' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header border-0">
                            <h3 class="mb-0">Upload Here!</h3>
                        </div>
                        <div class="card-body border-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="formFile1" class="form-label">Resume</label>
                                        {{ form.resume }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="formFile2" class="form-label">Internship Certificate</label>
                                        {{ form.internship_certificate }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="formFile3" class="form-label">Course Certificate</label>
                                        {{ form.courses_completed }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="formFile4" class="form-label">Other Certificate</label>
                                        {{ form.other_certificate }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 text-right">
                                    <button class="btn btn-md btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
